extends ./layout/index

block contenido
    main.container.mt-5     
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros",class="img-fluid")      
            .col-md-7
                h1= pagina
                Blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet libero et ante euismod lacinia. Morbi at pretium magna. Vivamus non elit in turpis ultricies convallis. Maecenas quam ipsum, scelerisque a diam vitae, lacinia ornare mauris. Aliquam quis augue eget ligula sodales ultrices.

                p  quis vestibulum neque. Morbi quis turpis a mauris tincidunt vulputate. Aliquam scelerisque est vitae erat tristique luctus. Suspendisse potenti. Morbi ut neque nec turpis scelerisque feugiat a nec nulla. Donec mattis, tellus eu mattis semper, velit nibh auctor dui, in sollicitudin lectus sem ut tortor. 

                p volutpat gravida commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla euismod egestas leo, et porttitor turpis pulvinar sit amet. Suspendisse vel aliquam est. Integer orci felis, viverra pellentesque quam et, vestibulum varius ligula. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    pInteger Porci felis, viverra pellentesque quam et, vestibulum varius ligula. Suspendisse potenti.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    pInteger Porci felis, viverra pellentesque quam et, vestibulum varius ligula. Suspendisse potenti.
                               
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    pInteger Porci felis, viverra pellentesque quam et, vestibulum varius ligula. Suspendisse potenti.         